.header {
    position: relative;
    display: flex;

    align-items: center;
    padding: 2rem 1.5rem !important;

    @media (min-width: 767px) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.themeBtn {
    padding: 0;
    border: none;

    margin-left: 1rem;
    background-color: inherit;

    cursor: pointer;
}

.theme {
    width: 30px;
    height: 30px;
    color: var(--logo);

    @media (max-width: 767px) {
        width: 20px;
        height: 20px;
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    cursor: pointer;
    fill: var(--logo);
}

.burger {
    margin-left: auto;
    font-size: 1.75rem;
    color: var(--gray-300);
    cursor: pointer;
}

.mobileMenu {
    position: absolute;
    width: 100%;
    max-width: 320px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    overflow: hidden;

    background-color: var(--primary-600);
    border-radius: var(--radii);
    padding: 1.25rem;

    & * {
        color: white !important;
    }
}